.About > p {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
}

.About > h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.App {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.267);
}

.AppMain {
  min-height: calc(100vh - 88px);
  font-family: 'Source Sans Pro', sans-serif;
  
/* background-image: url('https://res.cloudinary.com/ryder/image/upload/v1550243560/Ryder/Ryder-Blog/Hero/Post/Truck%20maintenance%20hoodBIG.jpg');
background-size: cover;  */
}



.App > div:nth-child(1) {                   /*Header*/
  background: grey;
  height: 100px;
  border-bottom: 4px solid black;
}

.App > div:nth-child(1) > span {            /*Title*/
  color: black;
  font-weight: bolder;
  font-size: 25px;
  position: absolute;
  left: 5px;
  font-family:sans-serif;
  font-weight: bolder;
}

.App > div:nth-child(1) > a:nth-child(2) {  /*Home Button*/
  margin: 0 150px 0 10px;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 100px;
  top: 20px;
  font-size: 15px;
  font-weight: bold;
  
}

.App > div:nth-child(1) > a:nth-child(3) {  /*About Button*/
  margin: 0 1px 0 20px;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.App > div:nth-child(1) > a:nth-child(4) {  /*Contact Button*/
  margin: 0 155px 0 20px;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.App > div:nth-child(1) > a:nth-child(5) {  /*Services Button*/
  margin: 0 50px 0 20px;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.App > div:nth-child(1) > a:hover {
  transition: transform 300ms;
  transform: translateY(-2px);
}

a.linkedin {                                /*Footer Icon*/
  color: rgba(162, 162, 165, 0.795);
  margin: 25px 10px 0 10px;
  transition: transform 300ms;
}

a > svg:hover {
  transform: translateY(-2px);
}

a > svg:active {
  transform: translateY(2px);
}

button {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 25px;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: all 150ms;
  vertical-align: baseline;
}

button:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

button:active {
  transform: translateY(1px);
}

.Deals {                                   
  display: inline-block;
  height: 150px;
  margin: 10px;
}

.dDisplay {
  white-space: nowrap;
  overflow-x: scroll;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
}

.dDisplay::-webkit-scrollbar {
  background: none;
}

.dDisplay::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 20px;
}

.dDisplay::-webkit-scrollbar-thumb:hover {
  background-color: rgba(14, 1, 1, 0.767);
}

.Footer {
  background: rgb(0,0,0);
  background: grey;
  border-top: 2px solid black;  
  height: 34px;
  position: relative;
  left: 0;
  bottom: 0;
}

.searchResults {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

form > input {
  background-color: rgba(128, 128, 128, 0.021);
  border: none;
  border-bottom: 3px solid black;
  color: black;
  margin-bottom: 10px;
}

form > input:focus {
  outline: 0;
}

form > input::placeholder::cue(click) {
  transform: translateX(-100px);
}

.searchResults > a {
  text-decoration: none;
}

#root > div > div.AppMain > div > section > a > div > img {
  height: 250px;
  width: 250px;
  border: 5px solid black;
}

h3 {
  display: block;
  color: black;
  font-weight: bolder;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  color: black;
  font-weight: bolder;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  background-position: cover;
}

